body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: #0073e6;
}

button {
    background-color: #0073e6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #005bbd;
}

#messageContainer {
    margin-top: 20px;
}

#messageList {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #e0e0e0;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#sendBtn {
    background-color: #0073e6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

#sendBtn:hover {
    background-color: #005bbd;
}
